:root {
	--background: #050505;
	--header: #fff;
	--text: #ddd;
	--subtext: #bbb;
	--highlight: #ecedfeff;
	--accent: #00ffff;
	--hint: #ffffff06;
	--layer: #fff1;
	--fade: #fff4;

	--color-note: #2f81f7;
	--color-tip: #3fb950;
	--color-warning: #d29922;
	--color-severe: #db6d28;
	--color-caution: #f85149;
	--color-important: #a371f7;
}
body,
html {
	min-height: 100svh;
	/* scroll-behavior: smooth; */
}
* {
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
body {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;
	display: flex;
	flex-direction: column;
}
main {
	width: 65ch;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
.prose {
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 1em;
	}
}
strong,
b {
	font-weight: 700;
}
a {
	color: inherit;
	text-decoration: none;
}
.canonical {
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	width: fit-content;
	gap: 0.5rem;
	margin-block: 0.5rem;
	border-bottom: none !important;

	svg {
		width: 1.3rem;
		height: 1.3rem;
	}
}
.prose a {
	border-bottom: 2px solid var(--layer);
	color: var(--highlight);
	transition:
		border-bottom-color 0.2s linear,
		color 0.2s linear;

	&:hover {
		border-bottom-color: var(--fade);
		color: var(--highlight);
	}
}
p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
	background-color: #ffffff06;
	overflow: hidden;
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;

	td,
	th {
		padding-inline: 10px;
	}
	tr:nth-child(2n) {
		background-color: #ffffff09;
	}
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
.prose img {
	max-height: 200px;
	max-width: min(400px, 80%);
}
code {
	padding: 2px 5px;
	background-color: var(--layer);
	border-radius: 2px;

	.line:has(.highlight)::before {
		position: absolute;
		left: -1rem;
		content: " ";
		border-left: 5px solid var(--highlight);
	}
	.highlight:not(:has(*)) {
		color: var(--highlight) !important;
		text-shadow: 0 0 1rem var(--highlight);
	}
}
.code-spoiler {
	filter: blur(0.5rem);
}
pre {
	padding: 0.6em 1em;
	border-radius: 8px;
	font-size: 0.8em;
	tab-size: 4;

	&.wrap-code {
		max-height: 20.5em;
	}
}
pre > code {
	all: unset;
}
pre:has(> code) {
	margin-bottom: 0.5rem;
}
blockquote {
	border-left: 4px solid var(--layer);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 0.9em;
	color: var(--fade);
}
hr {
	border: none;
	border-top: 1px solid var(--fade);
	width: 2em;
	margin-inline: auto;
}
ul,
ol {
	padding-left: 1em;
	padding-bottom: 1em;
}
@media (max-width: 65ch) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

/* selection */
::selection {
	color: var(--highlight);
	background-color: var(--layer);
}
