<div id="to-top">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		stroke="currentColor"
		><path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"
		/>
	</svg>
</div>
<script type="module" is:inline>
	const elem = document.getElementById('to-top');
	elem.addEventListener('click', () => {
		window.scrollTo(0, 0);
	});

	function calculateProgress() {
		elem.style.transform = window.scrollY > window.innerHeight ? 'translateY(0)' : 'translateY(3em)';
	}

	calculateProgress();
	window.addEventListener("scroll", calculateProgress);
	window.addEventListener("resize", calculateProgress);
</script>
<style>
	#to-top {
		position: fixed;
		z-index: 2;
		bottom: 1em;
		right: 1em;
		width: 2em;
		height: 2em;
		padding: 0.4em;
		border-radius: 50%;
		background-color: var(--layer);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transform: translateY(3em);
		transition: background-color 0.2s linear, transform 0.2s ease;
		-webkit-transition: -webkit-transform 0.2s ease;
		-moz-transition: -moz-transform 0.2s ease;
		-o-transition: -o-transform 0.2s ease;

		&:hover {
			background-color: var(--fade);
		}
	}
</style>